:root {
  --font-color--general: #323747;
  --font-color--addtional: #68686a;
  --font-color--form: #bdc1ca;
  --font-color--link: #61c15c;
  --font-color--article-type: #db5e31;
  --font-color--icon: #1a1b20;
  --font-color--main-footer: #fdfeff;
  --font-color--addtional-footer: #fff;
  --font-color--placeholder-form: #a3a6ad;
  --font-color--hobby-card-color: #fff;

  --border-color--form: #dde0e7;

  --background-color--frontend: #fef3ef;
  --background-color--tennis: #f4fbf4;
  --background-color--footer: #1e2128;
  --background-color--hobby-signature: #323743bf;
  --background-color--pale-first: #f4fbf4;
  --background-color--submit-button: #61c15c;
  --background-color--submit-button--pale: #f4fbf4;
  --background-color--subimt-button-aticle: #db5e31;
  --background-color--subimt-button-aticle--pale: #fef3ef;
  --background-color--form-buttons-disabled: #b3afb1;
  --underline-color: #bdc1ca;
}
