<header class="header">
  <div class="wrapper header__content">
    <div class="header__icon icon">
      <span class="icon__name">Name-folio</span>
    </div>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__element">
          <a href="#" class="navigation__link current-link">Главная страница</a>
        </li>
        <li class="navigation__element">
          <a href="#" class="navigation__link">Блог</a>
        </li>
        <li class="navigation__element">
          <a href="#footer" class="navigation__link">Контакт</a>
        </li>
      </ul>
    </nav>
    <div
      class="burger-button"
      (click)="openBurger()"
      [class.burger-button_active]="isActiveBurger"
    ></div>
    <div
      class="burger__menu"
      [class.burger__menu_active]="isActiveBurger"
      (window:scroll)="closeBurger()"
    >
      <ul class="burger__list" (click)="openBurger()">
        <li class="burger__element">
          <a href="#" class="burger__link current-link">Главная страница</a>
        </li>
        <li class="burger__element">
          <a href="#" class="burger__link">Блог</a>
        </li>
        <li class="burger__element">
          <a href="#footer" class="burger__link">Контакт</a>
        </li>
      </ul>
    </div>
  </div>
</header>
