<footer class="footer" id="footer">
  <div class="wrapper contacts">
    <h2 class="contacts__header">Say hello and let's work together !</h2>
    <div class="contacts__content">
      <div class="contacts__links">
        <div class="contacts__social">
          <a class="contacts__email contacts__link email" href="mailto:esspakov@mail.ru">
            Email:
            <span class="contacts__text">esspakov@mail.ru</span> </a
          ><br />
          <a href="tel:+79137104129" class="contacts__phone contacts__link phone">
            Phone: <span class="contacts__text">+79137104129</span>
          </a>
        </div>
        <div class="social-media">
          <a href="https://vk.com/kagavachka" target="_blank" class="vk__link"
            ><span class="social-media__vk social-media__item"></span
          ></a>
          <a href="https://t.me/@Kaga5a" target="_blank" class="tg__link"
            ><span class="social-media__tg social-media__item"></span
          ></a>
          <a href="https://github.com/Kagava" target="_blank" class="gh__link"
            ><span class="social-media__gh social-media__item"></span
          ></a>
        </div>
      </div>
      <div class="">
        <form action="#" method="get" class="contacts__form form">
          <label for="">
            Email<br />
            <input
              type="text"
              name="email"
              class="form__email form__item"
              placeholder="Your email address"
            />
          </label>
          <label for="">
            Input your message<br />
            <textarea
              name="message"
              id=""
              class="form__message form__item"
              rows="6"
              placeholder="Write your message on the pavement"
            ></textarea>
          </label>
          <button class="button-form submit-button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</footer>
